Xft.dpi:        85
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle: hintslight

URxvt.imLocale: pl_PL.UTF-8
URxvt.font:xft:mononoki Nerd Font:regular:size=12		
URxvt*letterSpace:-2
URxvt*allow_bold:true
URxvt*iso14755: False
URxvt*iconFile: /home/omar/.icons/Mix Oplos/apps/scalable/utilities-terminal.svg

*background: #2F343F
*foreground: #EFF0EB

! black
*color0: #2F343F
*color8: #444A57

! red
*.color1:	#de8990
*.color9:	#d0a8ab

! green
*.color2:	#94daa9
*.color10:	#bae8d2

! yellow
*.color3:	#dee7aa
*.color11:	#d7c96b

! blue
*.color4:	#9cdbdf
*.color12:	#6cb4dd

! magenta
*.color5:	#cca8c9
*.color13:	#db79bf

! cyan
*.color6:	#9ad4c8
*.color14:	#59b0b2

! white
*.color7:	#e1e1e1
*.color15:	#f0f0f0


URxvt.perl-ext-common:			default,matcher,tabbedex,vtwheel,clipboard
!URxvt.matcher.button:			1
URxvt.perl-ext:				default,url-select
URxvt.keysym.M-u:			perl:url-select:select_next
URxvt.url-select.launcher:		firefox
URxvt.url-select.underline:		true
URxvt.insecure: 			false
URxvt.keysym.Shift-Control-C: 			perl:clipboard:copy
URxvt.keysym.Shift-Control-V: 			perl:clipboard:paste
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*saveLines: 			300000
URxvt.scrollBar: 			false
URxvt*cursorBlink: 			false
URxvt*cursorUnderline: 		        true
URxvt.tabbedex.autohide:		yes
URxvt.tabbedex.tabbar-fg:		2
URxvt.tabbedex.tabbar-bg:		0
URxvt.tabbedex.tab-fg:			10
URxvt.tabbedex.tab-bg:			0
URxvt.tabbedex.title:			yes
URxvt.tabbedex.new-button:		no
URxvt*geometry: 82x11
URxvt.internalBorder: 20


XTerm*letterSpace:-2
XTerm*faceName: iosevka Nerd Font
xterm*faceSize: 12
xterm*internalBorder: 20
xterm*vt100*geometry: 70x20
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false

UXTerm*termName: xterm-256color
UXTerm*VT100.geometry:     92x17
UXTerm*faceName:               ShureTechMono Nerd Font
UXTerm*faceSize:		   12
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          10000
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false
UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:3f/3f/3f


rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       gnome-terminal
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          80
rofi.lines:                          7
rofi.columns:                        4
rofi.font:                           iosevka Nerd Font 12
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        30
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    10
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width: 0
rofi.color-enabled: true
! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-normal: #2f343f,  #e7e8eb,  #2f343f,  #e7e8eb,  #2f343f
rofi.color-urgent: #2f343f,  #e7e8eb,  #2f343f,  #e7e8eb,  #2f343f
rofi.color-active: #2f343f,  #e7e8eb,  #2f343f,  #e7e8eb,  #2f343f
!                  ´background´, ´border´
rofi.color-window: #2f343f,      #75444A57
